@import '@/styles/mixins.scss';

.body{
	padding: 0.5rem 0rem;
}

@include sm {
	.CardProject {
		header {
			text-transform: capitalize;
		}
		&__img {
			margin-bottom: 1rem;
		}
		section {
			h4 {
				margin: auto;
				margin-left: 1rem;
			}
			p{
				display: flex;
				flex-direction: column;
				max-width: 300px;
			}
		}
	}
}
@include lg {
	.CardProject {
		width: 450px;

		&__img {
			height: auto;
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}

		section {
			h4 {
				margin: auto;
				margin-left: 1rem;
			}
			p{
				display: flex;
				flex-direction: column;
				max-width: 300px;
			}
		}
		section.open{
			p{
				max-height: 1000px;
			}
		}
	}
}
