@import '../styles/base.scss';

@mixin principal {
	.Main {
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		height: 100vh;
		.Section1,
		.Section2 {
			width: 100%;
			height: auto;
			min-height: 100vh;
			margin: 0;
			border-radius: 0;
			border: none;
			scroll-snap-align: start;
		}
	}
}

@include lg {
	@include principal();
}
@include md {
	@include principal();
}
@include sm {
	.Main{
		// height: 100vh;
		.Section1,
		.Section2 {
			min-height: 100vh;
			border-radius: 0;
			border: none;
			margin: 0;
			padding: 0;
			
		}
	}
}

.Section1 {
	background-color: $secondary;
}
.Section2 {
	background: linear-gradient(to bottom, $gradient-1, $gradient-2);
	color: #f9fbb2;
}
