@import "../../styles/base.scss";

.Header {
	background-color: $black-1;
	color: #dcdede;
	position: sticky;
		top: 0;
		z-index: 100000000;
}

.toggle {
	display: none;
}
.burgerO,
.burgerX {
	height: 3rem;
	width: 3rem;
}

.burgerO {
	cursor: pointer;
}
.burgerX {
	cursor: pointer;
}
.logo {
	cursor: pointer;
}
@include sm {
	.Header {
		
		font-size: 1rem;
		padding: 1rem;
		.Navbar {
			
			.icons {
				display: inline-flex;
			}
			.toggle:checked ~ .icons .burgerO {
				display: none;
			}
			.icons .burgerX {
				display: none;
			}
			.toggle:checked ~ .icons .burgerX {
				display: block;
			}
			.logo {
				width: 5rem;
				height: 5rem;
			}
			display: flex;
			justify-content: space-between;
			align-items: center;
			.NavLinks {
				position: absolute;
				z-index: 10000;
				right: 0;
				left: 0;
				bottom: 0;
				top: 6rem;
				display: grid;
				place-items: center;
				background-color: $black-1;
				height: 0;
				overflow: hidden;
				transition: 0.4s ease;
				transform: translateY(0%);
				li {
					display: flex;
					width: 100%;
					height: 100%;
					justify-content: center;
					border: solid #111539 1px;
					a {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						&:hover {
							color: #ffffff;
						}
					}
				}
			}
			.icons {
				padding: 0 auto;
			}
			.toggle:checked ~ .NavLinks {
				height: 15rem;
			}
		}
	}
}

@include md {
	.Header {
		height: 5rem;
		font-size: .7rem;
		padding: 1rem;
		.Navbar {
			
			.logo {
				width: 3.75rem;
			}
			display: flex;
			justify-content: space-between;
			.NavLinks {
				display: flex;
				gap: 1.5rem;
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 100px;
					a {
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.icons {
				display: none;
			}
		}
	}
}

@include lg {
	.Header {
		font-size: .7rem;
		height: 5rem;
		padding: 1rem;
		.Navbar {
			.logo {
				width: 3.75rem;
			}
			display: flex;
			justify-content: space-between;
			.NavLinks {
				display: flex;
				gap: 1.5rem;
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 100px;
					a {
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.icons {
				display: none;
			}
		}
	}
}
