@import "../../styles/base.scss";
.Footer {
	background: #111318;
	width: 100%;
	height: 5rem;
	bottom: 0%;
	position: sticky;
	color: #ffffffff;
	animation: fade-down .8s;
	&__ul {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
		li {
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				transition: .2s;
				gap: 0.3rem;
				&:hover{
					filter: brightness(1.75);
					transform: scale(1.2);
				}
			}
		}
	}
}
