@import '../../styles/base.scss';

@mixin similar-banner ($max-w, $min-w) {
    .Banner {
        width: 100%;
        &__title {
            position: absolute;
            
        }
        &__image {
            background-image: url('../../assets/banner.jpg');
            background-repeat: no-repeat;
            aspect-ratio: 16/9;
            max-width: $max-w;
            min-width: $min-w;
            height: auto;
            background-size: contain;
            min-width: none;
        }
    }
}

@include lg {
    @include similar-banner(70%, 50%)
}

@include md {
    @include similar-banner(100%, 100%)
}

@include sm {
    @include similar-banner(100%, 100%)
    
}